.case-study {
  padding: 60px 0 0 0;
  background-color: #f1f9ff;
  .caseStudy-wrapper {
    .caseStudy-content {
      h2 {
        font-size: 38px;
        line-height: 48px;
        color: $primaryColor;
        font-weight: 500;
        margin-bottom: 20px;
        span {
          color: $secondaryColor;
          position: relative;
          &::after {
            position: absolute;
            content: "";
            height: 2px;
            width: 100%;
            background-color: $secondaryColor;
            bottom: 0;
            left: 0;
          }
        }
      }
      h5 {
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
      }
      p {
        color: $blackColor;
        line-height: 26px;
        font-weight: 300;
      }
      .readMore-btn {
        padding: 6px 25px;
        border: 1px solid $primaryColor;
        border-radius: 6px;
        font-size: 14px;
        color: $primaryColor;
        &:hover {
          background-color: $primaryColor;
          color: $whiteColor;
          border: 1px solid $primaryColor;
        }
      }
    }
    .caseStudy-img {
      img {
        max-height: 500px;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}

.information {
  padding: 60px 0;

  .information-wrapper {
    .information-wrap {
      text-align: center;
      .icon {
        img {
          max-height: 50px;
          max-width: 50px;
          object-fit: contain;
        }
      }
      h5 {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
      }
      p {
        font-weight: 300;
        color: $blackColor;
        font-size: 14px;
        line-height: 20px;
        span {
          font-weight: 500;
          line-height: 26px;
        }
        a {
          color: $primaryColor;
          word-break: break-all;
        }
      }
    }
  }
}

.message {
  padding: 60px 0;
  background-color: #e6f4fe;

  .message-wrapper {
    .message-img {
      display: flex;
      justify-content: center;
      img {
        max-height: 600px;
        width: 100%;
        object-fit: contain;
      }
    }
    .message-form {
      h4 {
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid #666;
        padding-bottom: 10px;
        display: inline-block;
        margin-bottom: 40px;
      }
      label {
        width: 100%;
        font-size: 15px;
        color: #7d7d7d;
        span {
          color: red;
        }
        margin-bottom: 8px;
      }
      .form-controll {
        width: 100%;
        max-width: 550px;
        height: 50px;
        background-color: #fff;
        border: none;
        padding: 10px 10px;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        &:focus {
          outline: 0;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }
        &::placeholder {
          color: #a1a1a1;
          font-weight: 300;
          font-size: 14px;
        }
      }

      .form-select {
        font-size: 14px;
        color: #636262;
      }

      .submit-btn {
        padding: 8px 30px;
        border: 1px solid $secondaryColor;
        border-radius: 6px;
        font-size: 15px;
        color: $secondaryColor;
        cursor: pointer;
        &:hover {
          background-color: $secondaryColor;
          color: $whiteColor;
          border: 1px solid $secondaryColor;
        }
      }
    }
  }
}
